
<h1> ToDo List for <%= user.username %> </h1>

  <div class="row">
    <div class="col">
      <p> Here is your list of things to do! </p>
    
      <p class="m-2">
        <% if (show=='completed'){%>
          <a class="btn btn-lg btn-primary"
              href="?show=todo">(Show tasks to do)</a>
        <% }else {%>
          <a class="btn btn-lg btn-primary"
              href="?show=completed">(Show completed tasks)</a>
        <%}%>
      </p>
      <ul class="list-group">
        <% items.forEach(item => { %>
            <li class="list-group-item">
                <span class="">
                    <% if (item.completed) { %>
                      <a 
                        href="/todo/uncomplete/<%= item._id %>">
                        <i class="bi bi-check-circle-fill"></i>
                    </a>
                    <% } else {%>
                      <a 
                        href="/todo/complete/<%= item._id %>">
                        <i class="bi bi-check-circle"></i>
                    </a>
                    <%} %>
                    <a href="/todo/remove/<%=item._id %>">
                      <i class="bi bi-trash"></i>
                    </a>
                </span>
                <span class="mx-5">
                  <%= item.item %>
                </span>
                <span class="badge rounded-pill bg-danger">
                  <%= item.priority?item.priority:5 %> 
                </span>
                <a 
                   href="/todo/edit/<%=item._id %>">
                  <i class="bi bi-pencil-square"></i>
              </a>
                  
            </li>
            <br>
        <% }) %>

        <form method="post" action="todo">
            new item: <input type="text" name="item">
            <br>
            priority: <select name="priority">
              <option>1 </option>
              <option>2 </option>
              <option>3 </option>
              <option>4 </option>
              <option>5 </option>
            </select>
            <br>
            <input type="submit" value="store">
        </form>
      </div>
      <div class="col">
        <h2> Summary of Site Usage</h2>
        <p>
          <a  class="btn btn-lg btn-primary"
              href="/todo/byUser">Show todo counts for all users</a></p>
      </div> 
    </div>
</div>
